# Air tmp directory
tmp/

# Binary
main

# Logs
*.log

# IDE
.vscode/
.idea/

# Environment files
.env
.env.local

# OS
.DS_Store

/vendor/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
/pgadmin-servers.json


/uploads

# files has .log extension
*.log
*.log.gz
/logs